body {
    overflow-x:hidden !important;
  }
:root {
--fimobile-green: #3ac79b;
--fimobile-red: #f73563;
--fimobile-yellow: #ffbd17;
--fimobile-blue: #3c63e2;
--fimobile-rounded: 0px;
--fimobile-padding: 10px;
--bs-gutter-x: var(--fimobile-padding);
--fimobile-input-rounded: 10px;
/* radial gradient colors */
--fimobile-theme-color-grad-1: #000;
--fimobile-theme-color-grad-2: #000;
--fimobile-theme-color-grad-3: #020f11;
/* color schemes */
--fimobile-theme-color: #000;
--fimobile-theme-color-2: #000;
--fimobile-theme-color-light: #d3ddfd;
--fimobile-theme-bordercolor: #dadff6;
--fimobile-theme-text: #ffffff;
--fimobile-header: transparent;
--fimobile-header-active: #ffffff;
--fimobile-header-text: #000000;
--fimobile-footer: #ffffff;
--fimobile-footer-text: #000;
--fimobile-footer-text-active: var(--fimobile-theme-color);
--fimobile-sidebar: var(--fimobile-theme-color);
--fimobile-sidebar-text: #ffffff;
--fimobile-sidebar-text-active: #ffffff;
--fimobile-card-color: rgba(255, 255, 255, 0.85);
--fimobile-card-text: #000000;
--fimobile-page-bg-1: #f1f3f8;
--fimobile-page-bg-2: #e5ecfe;
--fimobile-page-text: #000000;
--fimobile-page-link: var(--fimobile-theme-color);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 14px;
    border: 4px solid #ffffff;
}

.mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    border-radius: var(--fimobile-rounded) var(--fimobile-rounded) 0 0;
    background-color: #fff !important;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    -webkt-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
    z-index: 999999;
    height: 70px;
    }
    
    .mobile-footer .nav {
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    }
    
    .mobile-footer .nav .nav-item {
    height: 52px;
    }
    
    .mobile-footer .nav .nav-item .nav-link {
    text-align: center;
    background: transparent !important;
    align-self: center !important;
    -webkit-align-self: center !important;
    -moz-align-self: center !important;
    height: 70px;
    line-height: 44px;
    color: #000 !important;
    padding: 10px;
    box-shadow: none;
    }
    .mobile-footer .nav .nav-item .nav-link:hover {
    background: #333940 !important;
    color: #ffffff !important;
    border-radius: 0px;
    }
    
    .mobile-footer .nav .nav-item .nav-link span {
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
    display: block;
    font-weight: 400;
    }
    
    .mobile-footer .nav .nav-item .nav-link span .nav-icon {
    font-size: 29px;
    /* height: 20px; */
    line-height: 20px;
    /* width: 20px; */
    display: inline-block;
    margin: 0 auto;
    }
    .mobile-footer .nav .nav-item .nav-link span .nav-text {
            font-size: 14px;
            line-height: 15px;
            display: block;
        }
    @media screen and (max-width:768px) {
        .mobile-footer .nav .nav-item .nav-link span .nav-text {
            font-size: 12px;
            line-height: 15px;
            display: block;
            text-align: center;
        }
    }
    
    .mobile-footer .nav .nav-item .nav-link.active {
    /* color: #000 !important; */
    border-radius: 0 0 40px 40px !important;
    }
    
    .mobile-footer .nav .nav-item.centerbutton {
    padding: 10px;
    transition: none;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link {
    position: relative;
    padding: 8px;
    height: 76px;
    width: 76px;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: -30px;
    transition: none;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link > span {
    height: 60px;
    line-height: 56px;
    width: 60px;
    border-radius: 30px;
    margin: 0px auto 0 auto;
    color: var(--fimobile-theme-text);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    -webkt-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link > span img {
    opacity: 1;
    width: 35px;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: 1px;
    /* filter: brightness(100); */
    left: 1px;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link > span i.close {
    opacity: 0;
    height: 24px;
    width: 24px;
    font-size: 0;
    line-height: 24px;
    display: inline-block;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    top: 26px;
    margin: 0 auto;
    }
    @media screen and (max-width:768px) {
    .mobile-footer .nav .nav-item.centerbutton .nav-link .nav-menu-popover {
        height: auto;
        padding: var(--fimobile-padding);
        border-radius: var(--fimobile-rounded);
        background-color: var(--fimobile-theme-color-2);
        color: var(--fimobile-theme-text);
        position: absolute;
        bottom: 100%;
        /* width: 334px !important; */
        /* left: calc(50% - 200px) !important; */
        /* margin-left: 38px; */
        display: none;
        overflow: auto !important;
        border-radius: 10px !important;
        }
    }
    .mobile-footer .nav .nav-item.centerbutton .nav-link .nav-menu-popover {
    height: 85px;
    padding: var(--fimobile-padding);
    border-radius: var(--fimobile-rounded);
    background-color: var(--fimobile-theme-color-2);
    color: var(--fimobile-theme-text);
    position: absolute;
    bottom: 100%;
    width: 350px;
    left: calc(50% - 175px) !important;
    /* margin-left: 38px; */
    display: none;
    overflow: auto;
    border-radius: 10px;
    }
    
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active {
    background-color: var(--fimobile-theme-color-2) !important;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(ellipse at 0% 100%, transparent 0%, transparent 70%, var(--fimobile-theme-color-2) 72%);
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(ellipse at 100% 100%, transparent 0%, transparent 70%, var(--fimobile-theme-color-2) 72%);
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active .nav-menu-popover {
    display: flex;
    }
    .mobile-footer .nav-menu-popover button {
        color:white;
        background-color:#ffffff24;
        overflow: visible!important;
        height: 65px;
        padding: 10px;
        margin: 0 3px;
    }
    .mobile-footer .nav-menu-popover button i {
        font-size: 30px;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active > span img {
    opacity: 0;
    color: white;
    }
    
    .mobile-footer .nav .nav-item.centerbutton .nav-link.active > span i.close {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    font-size: 22px;
    }
    
    .menu-open .mobile-footer {
    margin-bottom: -80px;
    }
    
    .mobile-footer-info {
    padding: var(--fimobile-padding) 0px;
    line-height: 30px;
    }
    .theme-radial-gradient {
    background: var(--fimobile-theme-color-grad-1);
    background: -moz-radial-gradient(30% 30%, ellipse cover, var(--fimobile-theme-color-grad-1) 0%, var(--fimobile-theme-color-grad-2) 50%, var(--fimobile-theme-color-grad-3) 100%);
    background: -webkit-radial-gradient(30% 30%, ellipse cover, var(--fimobile-theme-color-grad-1) 0%, var(--fimobile-theme-color-grad-2) 50%, var(--fimobile-theme-color-grad-3) 100%);
    background: radial-gradient(ellipse at 30% 30%, var(--fimobile-theme-color-grad-1) 0%, var(--fimobile-theme-color-grad-2) 50%, var(--fimobile-theme-color-grad-3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--fimobile-theme-color-grad-1)', endColorstr='var(--fimobile-theme-color-grad-3)',GradientType=1 );
    box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
    }
    .show-mobile {
    display:none;
    }
    
    
    @media screen and (max-width:768px) {
    .hide-mobile {
        display:none;
    }
    .show-mobile {
        display:block;
    }
    button[type='submit'] {
        font-size: 16px !important;
        border-radius: 30px !important;
        font-weight: normal;
        padding: 15px 40px !important;
    }
    .form-material>.form-control {
        border-radius:20px !important;
        padding: 15px 20px !important;
        height:40px !important;
        /* margin:15px !important; */
        background:#f6f6f6;
    }
    }
    .content {
    margin: 0 auto;
    padding: 16px 16px 0px;
    width: 100%;
    overflow-x: visible;
    }
    .block-content {
    border-radius:10px;
    }
    .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
    }
    
    .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
    }
    .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
    
    .bg-junior {
    /* fallback for old browsers */
    background: #fa709a;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1))
    
    }
    .bg-pratisyen {
        /* fallback for old browsers */
    background: #4facfe;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(79, 172, 254, 1), rgba(0, 242, 254, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(79, 172, 254, 1), rgba(0, 242, 254, 1))
    }
    
    .bg-master {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .progress-bar {
    min-width: 50px;
    }
    .bg-primary {
    background-color: #000!important;
    }
    .taksonomi-progress {
    height: auto;
    margin: 5px 0;
    }
    .bg-primary-lighter {
    background-color: #000 !important;
    }